    /* variables generales */

    :root{
        --backcolor: #F3E2CA;  /* color de fondo general */
        --backheadercolor: #af946efb; /* color de fondo del header */
        --backcolorboton: #F9C181; /* color del boton de descarga CV*/
        --backcolorbotonhover: #f9c181; /* color del boton de descarga CV*/
        --backhoverboton: #ffffffcb; /* color del boton de header */
        --lineacontornoboton: #594E3BAA ; /* color del contorno del boton de descarga CV*/
        --background-tarjetas: #c2a16daf ; /* color de fondo de las tarjetas */
        --background-tarjeta-contacto: #C4B08F ; /* color de fondo de la tarjeta de contacto */
        --background-input-contacto: #D5D5D5 ; /* color de fondo de los input de contacto */
        --background-boton-contacto: #2C2C2C; /* color de fondo de boton de contacto */
        --background-footer: #604F38; /*color del fondo de footer */
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body, html {
        width: 100%;
        scroll-behavior: smooth;
       overflow-x: clip;
    }
    section{
        scroll-margin-top: 200px;
        scroll-snap-align: start;
    }
    body {
    
        background: url("fondo.jpg") no-repeat center fixed;
        background-size:cover ;

    }
    
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2); 
          backdrop-filter: blur(10px);
        pointer-events: none;
        z-index: -1; 
    }

    hr {
        width: 100%;
        border: 1px solid black;
        margin: 1rem 0;
    }
    body h3{
            font-size: 1.5rem;
    }
    body p{
        margin-left: 1rem;
        margin-top: 1rem;
        font-size: 1.4rem;
    }
    /* estilos header y sus botones*/

    header {
        position: sticky;
        top: 0;
        width: 100%;   
        background-color: var(--backheadercolor);
        display: flex;
        box-shadow: 0px 3px 2px 1px rgb(0, 0, 0,0.20);
        z-index: 1;
    }
    header h1 {
        margin: 0.5rem;
        font-size: 1.6em;
        color: white;
        font-family: 'Poppins', sans-serif;
    }
    .headertop {
        display: flex;
        margin-left: auto;
        margin-right: 0.5rem;
    }

    .headertop a {
        display: flex;
        text-decoration: none;
        color: white;
        font-size: 1.2em;
        margin: 0 2rem;
         transition-duration: 300ms;
    }

    .buttons-top {
        list-style: none;
        display: flex;
        align-items: center;
    }

/* Estilos de la primera parte "Sobre mi" */

.main-sobre-mi {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.Mi-Nombre {
    font-size: 2em;
    margin-bottom: 1rem;
}
.Descripcionmia {
   width: 100%;
   display: flex;
   gap: 1.5rem;
   flex-wrap: wrap;
}
.Descripcionmia h3{
   width: 100%;
   display: flex;
   flex-direction: column;

}
.about-text {
    display: flex;
   width: 100%;
}

.about-text p{
    max-width: 60rem;
    text-align: start;
    margin-bottom: 1rem;
   margin-left: 2rem;
}

.texto {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}
.Foto {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 13rem; 
    margin-top: 2rem;
}

/* Estilos Curriculum */

.Curriculum {
    max-width: 100%;
    margin-top: 3rem;
}

.Curriculum  a{
    margin-top: 1rem;
    text-decoration: none;
    margin-left: 12rem;
    border-radius: 6px; 
}

.Curriculum p{
    margin-top: 2rem;
}
.icono-descarga {
    width: 3rem;
    height: auto;
    background-color: var(--backcolorboton);
    border-radius: 5px;
    border: 1px solid var(--lineacontornoboton);
    transition-duration: 300ms;
}

/* Ocultar curriculum en telefono */

.Curriculumtelefono{
    display: none;
}
.display-hamburguesa{
    display: none;
}
/* Efectos hover de los botones del header y del icono de descarga */

.headertop a:hover {
    transition-duration: 300ms;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--backhoverboton);
    background-color: rgb(255, 255, 255,0.1);
    border-radius: 0.3rem;
    padding: 0.5rem;
}

.icono-descarga:hover {
    background-color: var(--backhoverbotonhover);
    cursor: pointer;
    transition-duration: 300ms;
    width: 3.2rem;
}

/* Formato adaptativo para sobre mi y curriculum en telefono */
@media (max-width: 1024px) {
    /* Estilos header y sus botones*/
    .headertop{
        display: none;
    }
    header{
        width: 100%;
    }
    .display-button{
        display: block;
          display: flex;
        align-items: center;
         margin-left: auto;
    }

    /* Estilos de la primera parte "Sobre mi" */
        /* Hidden del otro apartado de curriculum*/
   
    .Curriculum{
       display: none;
    }
    .Curriculumtelefono{
        display: block;
    }
        /* Estilos sobre mi en telefono */
     .main-sobre-mi p, .main-sobre-mi h3{
    padding: 1%;
     }
    .Curriculumtelefono h3{
        margin-bottom: 1rem ;
    }
    .Foto{
        margin-right: auto;
        margin-left: auto;
        width: 17rem;
        height: 17rem;
    }
    .about-text {
       flex-direction: column;
       align-items: center;
    }
    
    .texto {
        display: flex;
        flex-direction: column;
        margin-left: 0.1rem;
        margin-bottom: 1rem;
    }
    .Curriculumtelefono {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: auto;
        max-width: 100%;
        margin-top: 3rem;
    }
    .Curriculumtelefono p{
        max-width: 60rem;
        text-align: start;
        margin-bottom: 1rem;
        margin-left: 2rem;
    }
    .Curriculumtelefono a{
        margin-top: 1rem;
        text-decoration: none;
        display: inline-flex; 
        margin-left: 12rem;
        width: auto; 
        border-radius: 6px; 
        margin-left: auto;
        margin-right: auto;
    }
 
}

/* Secion de lenguajes de programacion */

.lenguajes, .cap1-lenguaje {
    width: 100%;
    margin: 3rem 0;
}

.cap1-lenguaje {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.cap1-lenguaje h3 {
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.cap1-lenguaje ul,li{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

/* Formato adaptativo para lenguajes de programacion en telefono */

@media (max-width: 1024px) {
    .cap1-lenguaje ul,li{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        gap: 0.5rem;
    }
    
}

/* Estilos proyectos */
    /* Titulo proyectos */
.box-proyectos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-proyectos h4{
    text-align: center;
    margin: 1rem 0;
    font-size: 1.3rem;
}
.box-tarjetas-proyectos p{
    margin-bottom: 1rem;
}
.titulo-box-proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
}

    /* 
    *
    Tarjetas de proyectos 
    *
    */

.box-tarjetas-proyectos {
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--background-tarjetas);
    box-shadow: 2px 4px 4px rgb(0, 0, 0,0.25);
    padding: 1rem;
    margin: 1rem;
    width: 20rem;
    text-align: center;
}
.tarjeta a{
    border-radius: 0.8rem;
    margin-top: 0.2rem;
}

        /* 
        *
        Iconos y fotos de las tarjetas 
        *
        */

.icono-descarga-tarjeta {
    display: flex;
    width: 3rem;
    height: auto;
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 0.8rem;
    border: 1px solid var(--lineacontornoboton);
     transition-duration: 300ms;
    
}
        
.fotos-proyectos {
    width: 80%;
    height: auto;
    padding: 0.6rem;
    
}

        /*
        *
        Link de github e icono
        *
        */

.link-github {
    border-radius: 2rem;
    margin-top: 1rem;
}

.icono-github {
    display: flex;
    border-radius: 2em;
    border: 1px solid rgb(from var(--lineacontornoboton) r g b / 40%);
    background-color: rgb(from var(--background-tarjetas) r g b / 60%);
   box-shadow: 0px 1px 2px rgb(0, 0, 0,0.25);
    width: 6rem;
    height: auto;
    margin-bottom: 1rem;
    transition-duration: 300ms;
}

.icono-github:hover{
    box-shadow: 0px 4px 4px rgb(0, 0, 0,0.25);
    width: 6.5rem;
    height: auto;
    transition-duration: 300ms;
}

.icono-descarga-tarjeta:hover{
    transition-duration: 300ms; 
    width: 3.3rem;
    height: auto;
    background-color: rgba(228, 226, 226, 0.747);
     box-shadow: 0px 4px 4px rgb(0, 0, 0,0.25);

}

.tarjeta:hover{
    transform: scale(2);
    transform: translateY(-4px);
    box-shadow: 0px 4px 4px rgb(0, 0, 0,0.25);
}
/* Formato adaptativo para tarjetas de proyectos en telefono */
@media (max-width: 1024px) {
    .box-tarjetas-proyectos{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

/*Estilo de contacto*/
    .Contacto-main-box {
        display: flex;
        width: 100%;
        flex-direction: column;
         align-items: center;
         margin-bottom: 2rem;
    }
      .Contacto-main-box form {
        display: flex;
       width: 100%;
       justify-content: center;
    }
    .Contacto-main-box h3{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
        margin-bottom: 2rem;
    }
    .tarjeta-contacto{
      display: flex;
      flex-direction: column;
        background-color: var(--background-tarjeta-contacto);
        box-shadow: 1px 4px 4px rgb(0, 0, 0,0.25);
        border-radius: 0.4rem;
        width: 30%;
        height: auto;
        padding: 1.5%;
        gap: 0.5rem;
    }
    .tarjeta-contacto input, textarea, label{
        display: flex;
        font-size: 1rem;
        padding: 2%;
        margin: 0.3rem 0;
    }
    .tarjeta-contacto input, textarea {
        border-radius: 0.8rem;
        border: none;
        background-color: var(--background-input-contacto);
    }
    .tarjeta-contacto button{
          transition-duration: 300ms; 
        margin-top: 1.5rem;
        padding: 0.8rem;
        background-color: var(--background-boton-contacto);
        border: none;
        border-radius: 0.5rem;
        color: white;
    }

    .tarjeta-contacto button:hover{
        transition-duration: 300ms; 
        cursor: pointer;
         box-shadow: 0px 4px 4px rgb(0, 0, 0,0.25);
        padding: 1rem;
        margin-top: 1.3rem;
    }

@media(max-width: 1024px){
.tarjeta-contacto{
      display: flex;
      flex-direction: column;
        width: 70%;
        height: auto;
        gap: 0.5rem;
    }
}

/* Estilos footer */

.foot-hitbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    gap: 1.5rem;
    background-color: var(--background-footer);
}
.foot-hitbox p{
    display: flex;
    margin: 0.8rem 0 ;
    color: white;
}
.icono-linkedin{
    display: flex;
    width: 1.4rem;
    height: auto;
}

/* creacion de la side bar para telefono */

.sidebar{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 35%;
    background-color: var(--backheadercolor);
    box-shadow: -2rem 0px 2rem 1rem rgba(0, 0, 0, 0.25);
    z-index: 2;    
    transform: translateX(120%);
    transition: transform 0.8s cubic-bezier(.25, .8, .25, 1);

}
.sidebar.active {
    transform: translateX(0);
}
.sidetop a {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    margin-top: 3rem;
    background-color: rgb(255, 255, 255,0.15);
    border: 1px solid rgb(255, 255, 255, 0.20);
    box-shadow: 0px 2px 6px 1px rgb(0, 0, 0,0.20);
    border-radius: 0.3rem;
    width: 100%;
    padding: 1.3rem 0;
    justify-content: center;

}
.sidetop li {
     width: 100%;
}
.sidetop{
    display: flex;
    width: 100%;
}
.buttons-side{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 1rem;
}
.difuminacion{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.6);

}
.display-hamburguesa{
    display: none;
}


@media (max-width: 1024px) {
     .display-hamburguesa{
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 1rem;
        background-color: rgb(0,0,0,0);
        border: 0px;
    }
    .icono-hamburguesa{
        display: flex;
        width: 1.7rem;
        height: auto;
      
    }
    
}