    /* variables generales */

    :root{
        --backcolor: #F3E2CA;
        --backheadercolor: #AF946E;
        --backcolorboton: #F9C181;
        --lineacontornoboton: #594E3B;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body, html, main {
        width: 100%;
        height: 100vh;
        background-color: var(--backcolor);
    }

    hr {
        width: 100%;
        border: 1px solid black;
        margin: 1rem 0;
    }

    /* estilos header y sus botones*/

    header {
        width: 100%;   
        background-color: var(--backheadercolor);
        display: flex;
    }
    header h1 {
        margin: 0.5rem;
        font-size: 2em;
        color: white;

    }
    .headertop {
        display: flex;
        margin-left: auto;
        margin-right: 0.5rem;
    }

    .headertop a {
        text-decoration: none;
        color: white;
        font-size: 1.2em;
        margin: 0 2rem;
    }

    .buttons-top {
        list-style: none;
        display: flex;
        align-items: center;
    }

/* Estilos de la primera parte "Sobre mi" */

.main-sobre-mi {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-left: 3rem;
    width: 96%;
}

.main-sobre-mi p {
   margin-left: 1rem;
   margin-top: 0.5rem;
}

.Mi-Nombre {
    font-size: 2em;
    margin-bottom: 1rem;
}
.Descripcionmia {
   width: 100%;
   display: flex;
   gap: 1.5rem;
   flex-wrap: wrap;
}
.Descripcionmia h3{
   width: 100%;
   display: flex;
   flex-direction: column;

}
.about-text {
    display: flex;
   width: 100%;
}

.about-text p{
    max-width: 60rem;
    text-align: start;
    margin-bottom: 1rem;
   margin-left: 2rem;
}

.texto {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}
.Foto {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 10rem; 
}

.Curriculum {
    max-width: 100%;
    margin-top: 3rem;
}



.Curriculum  a{
    margin-top: 1rem;
    text-decoration: none;
    display: inline-flex; 
    margin-left: 12rem;
    width: auto; 
    border-radius: 6px; 
}

.Curriculum p{
    margin-top: 2rem;
}
.icono-descarga {
    width: 3rem;
    height: auto;
    background-color: var(--backcolorboton);
    border-radius: 5px;
}


.Curriculumtelefono{
    display: none;
}
@media (max-width: 1024px) {
    .headertop{
        display: none;;
    }
    header{
        width: 100%;
    
    }
    .Curriculum{
       display: none;
    }
    .Curriculumtelefono{
        display: block;
    }
    .Curriculumtelefono h3{
        margin-bottom: 1rem ;
    }
    .Foto{
        margin-right: auto;
        margin-left: auto;

    }
    .about-text {
       flex-direction: column;
       align-items: center;
    }
    
    .texto {
        display: flex;
        flex-direction: column;
        margin-left: 0.1rem;
        margin-bottom: 1rem;
    }
    .Curriculumtelefono {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: auto;
        max-width: 100%;
        margin-top: 3rem;
    }
    .Curriculumtelefono p{
        max-width: 60rem;
        text-align: start;
        margin-bottom: 1rem;
        margin-left: 2rem;
    }
    .Curriculumtelefono a{
        margin-top: 1rem;
        text-decoration: none;
        display: inline-flex; 
        margin-left: 12rem;
        width: auto; 
        border-radius: 6px; 
    }
}