    /* variables generales */

    :root{
        --backcolor: #F3E2CA;  /* color de fondo general */
        --backheadercolor: #AF946E; /* color de fondo del header */
        --backcolorboton: #F9C181; /* color del boton de descarga CV*/
        --backcolorbotonhover: #f9c181; /* color del boton de descarga CV*/
        --backhoverboton: #ffffffcb; /* color del boton de header */
        --lineacontornoboton: #594E3BAA ; /* color del contorno del boton de descarga CV*/
        --background-tarjetas: #CDA76B ; /* color de fondo de las tarjetas */
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body, html, main {
        width: 100%;
        height: 100vh;
        background-color: var(--backcolor);
    }

    hr {
        width: 100%;
        border: 1px solid black;
        margin: 1rem 0;
    }
    body h3{
            font-size: 1.5em;
    }
    body p{
        margin-left: 1rem;
        margin-top: 1rem;
        font-size: 1.3rem;
    }
    /* estilos header y sus botones*/

    header {
        width: 100%;   
        background-color: var(--backheadercolor);
        display: flex;
    }
    header h1 {
        margin: 0.5rem;
        font-size: 1.6em;
        color: white;
        font-family: 'Poppins', sans-serif;
    }
    .headertop {
        display: flex;
        margin-left: auto;
        margin-right: 0.5rem;
    }

    .headertop a {
        text-decoration: none;
        color: white;
        font-size: 1.2em;
        margin: 0 2rem;
    }

    .buttons-top {
        list-style: none;
        display: flex;
        align-items: center;
    }

/* Estilos de la primera parte "Sobre mi" */

.main-sobre-mi {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.Mi-Nombre {
    font-size: 2em;
    margin-bottom: 1rem;
}
.Descripcionmia {
   width: 100%;
   display: flex;
   gap: 1.5rem;
   flex-wrap: wrap;
}
.Descripcionmia h3{
   width: 100%;
   display: flex;
   flex-direction: column;

}
.about-text {
    display: flex;
   width: 100%;
}

.about-text p{
    max-width: 60rem;
    text-align: start;
    margin-bottom: 1rem;
   margin-left: 2rem;
}

.texto {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}
.Foto {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 10rem; 
}

/* Estilos Curriculum */

.Curriculum {
    max-width: 100%;
    margin-top: 3rem;
}

.Curriculum  a{
    margin-top: 1rem;
    text-decoration: none;
    margin-left: 12rem;
    border-radius: 6px; 
}

.Curriculum p{
    margin-top: 2rem;
}
.icono-descarga {
    width: 3rem;
    height: auto;
    background-color: var(--backcolorboton);
    border-radius: 5px;
    border: 1px solid var(--lineacontornoboton);
}

/* Ocultar curriculum en telefono */

.Curriculumtelefono{
    display: none;
}
/* Efectos hover de los botones del header y del icono de descarga */

.headertop a:hover {
    transition-duration: 10ms;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--backhoverboton);
    background-color: rgb(255, 255, 255,0.1);
    border-radius: 0.3rem;
    padding: 0.5rem;
}

.icono-descarga:hover {
    background-color: var(--backhoverbotonhover);
    cursor: pointer;
    transition-duration: 10ms;
    width: 3.2rem;
}

/* Formato adaptativo para sobre mi y curriculum en telefono */
@media (max-width: 1024px) {
    /* Estilos header y sus botones*/
    .headertop{
        display: none;
    }
    header{
        width: 100%;
    }
    /* Estilos de la primera parte "Sobre mi" */
        /* Hidden del otro apartado de curriculum*/
   
    .Curriculum{
       display: none;
    }
    .Curriculumtelefono{
        display: block;
    }
        /* Estilos sobre mi en telefono */
     .main-sobre-mi p, .main-sobre-mi h3{
    padding: 1%;
     }
    .Curriculumtelefono h3{
        margin-bottom: 1rem ;
    }
    .Foto{
        margin-right: auto;
        margin-left: auto;
        width: 17rem;
        height: 17rem;
    }
    .about-text {
       flex-direction: column;
       align-items: center;
    }
    
    .texto {
        display: flex;
        flex-direction: column;
        margin-left: 0.1rem;
        margin-bottom: 1rem;
    }
    .Curriculumtelefono {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: auto;
        max-width: 100%;
        margin-top: 3rem;
    }
    .Curriculumtelefono p{
        max-width: 60rem;
        text-align: start;
        margin-bottom: 1rem;
        margin-left: 2rem;
    }
    .Curriculumtelefono a{
        margin-top: 1rem;
        text-decoration: none;
        display: inline-flex; 
        margin-left: 12rem;
        width: auto; 
        border-radius: 6px; 
        margin-left: auto;
        margin-right: auto;
    }
 
}

/* Secion de lenguajes de programacion */

.lenguajes, .cap1-lenguaje {
    width: 100%;
    margin: 3rem 0;
}

.cap1-lenguaje {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.cap1-lenguaje h3 {
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.cap1-lenguaje ul,li{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

/* Formato adaptativo para lenguajes de programacion en telefono */

@media (max-width: 1024px) {
    .cap1-lenguaje ul,li{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        gap: 0.5rem;
    }
    
}

/* Estilos proyectos */
    /* Titulo proyectos */
.box-proyectos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-proyectos h4{
    text-align: center;
    margin: 1rem 0;
    font-size: 1.3rem;
}
.box-tarjetas-proyectos p{
    margin-bottom: 1rem;
}
.titulo-box-proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
}

    /* 
    *
    Tarjetas de proyectos 
    *
    */

.box-tarjetas-proyectos {
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--background-tarjetas);
    padding: 1rem;
    margin: 1rem;
    width: 20rem;
    text-align: center;
}
.tarjeta a{
    border-radius: 0.8rem;
    margin-top: 0.2rem;
}

        /* 
        *
        Iconos y fotos de las tarjetas 
        *
        */

.icono-descarga-tarjeta {
    display: flex;
    width: 3rem;
    height: auto;
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 0.8rem;
    border: 1px solid var(--lineacontornoboton);
    
}
        
.fotos-proyectos {
    width: 80%;
    height: auto;
    padding: 0.6rem;
    
}

        /*
        *
        Link de github e icono
        *
        */

.link-github {
    border-radius: 3em;
    margin-top: 1rem;
}

.icono-github {
    display: flex;
    border-radius: 2em;
    border: 1px solid rgb(from var(--lineacontornoboton) r g b / 40%);
    background-color: rgb(from var(--background-tarjetas) r g b / 20%);
    width: 6rem;
    height: auto;
    margin-bottom: 1rem;
}


/* Formato adaptativo para tarjetas de proyectos en telefono */
@media (max-width: 1024px) {
    .box-tarjetas-proyectos{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}






footer{
    display: none;
}